body {
    background-image: url('https://cdn.pixabay.com/photo/2020/04/20/18/10/cinema-5069314_960_720.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.light {
    color: white;
}

.title {
    color: cyan;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pills {
    width: 8vw;
    position: absolute;
    margin: 10vh 1vw;
}

a {
    text-decoration: none;
    color: black;
}